.parent-contact {
  display: flex;
  
  height: 100vh;
  position: relative;
}

.left-contact {
  display: flex;
  
  width: 15vh;
  align-items: center;
  justify-content: center;
}

.left-contact span {
  transform: rotate(270deg);
}

.right-contact {
  display: flex;
  flex-direction: column;
  
  width: 85vh;
}

.right-top {
  display: flex;
  flex-direction: row;
  
  height: 15vh;
  position: relative;
  justify-content: space-around;
}

.top-item {
  display: flex;
  
  height: 12vh;
  width: 15vw;
  align-items: center;
  justify-content: center;
}

.right-bottom {
  
  height: 85vh;
}

.grid-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 84vh;

  
}

.grid-item {
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  height: 25vh;
  width: 25vw;
}
