.parent {
  display: flex;
  height: 100vh;
  gap: 5px;
  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 1px;
  width: 85%;
  transition: all 0.1s ease-out;
}

.image {
  height: 85%;
  background-image: url("./assets/pexels-photo-1074535.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.group {
  background-color: black;
  display: flex;
  height: 15%;
  justify-content: space-around;
  gap: 10px;
  position: relative;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.side {
  padding: 1px;
  display: flex;
  height: calc(100% - 4px);
  width: 15%;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.1s ease-out;
  border-radius: 10px;
}

.side span {
  transform: rotate(90deg);
}

@media screen and (max-width: 768px) {
  .parent {
    gap: 0px;
    height: 88vh;
  }

  .left {
    width: 75%;
  }

  .image {
    background-image: url("./assets/pexels-photo-433989.jpeg");
  }

  .side {
    width: 25%;
  }
}
