.main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.main::-webkit-scrollbar {
    display: none;
  }
  

.main > section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}